{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "plugins": [
    "jest"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest/globals": true,
    "node": true
  }
}
